body{
    background-color: #ebebeb;
}
.padre{
    width: 100%; height: max-content;
    position: relative;
    right: 0;
}
.navbar{
    position: fixed;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    padding: 0rem 2rem 0rem 0.4rem;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 250ms ease;
}
.drawer{
    display: flex;
    flex-direction: column;
    .butonNavbar{
        height: 3.25rem !important;
        font-size: 0.85rem;
        position: relative;
        overflow: hidden;
        .boxElementsNavbar{
            position: absolute;
            left: 1.2rem; bottom: calc(50% - 3.25rem); top: calc(50% - 3.25rem);
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}
